#slide_bar {
    margin: 0;
    padding: 0;
    background: #f00;
    position: fixed;
    right: -170px;
    cursor: pointer;
    width: 200px;
}

#slide_bar ul {
    margin: 0;
    padding-left: 30px;
    list-style: none;
}

#slide_bar li {
    margin: 5px;
    padding: 0;
}

#slide_bar a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

ul li {
    text-align: center;
    color: #fff;
    margin: 0 1.0em 0 0;
    width: 80px;
    height: 50px;
    line-height: 50px;
    background: green;
}